---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section id="classes" class="px-12 py-40">
      <div class="text-[#04040C] max-w-[70ch] m-auto">
        <h1 class="text-center font-semibold text-4xl mb-4 md:text-5xl md:mb-8">
          WELCOME TO MYGYM
        </h1>
        <p>
          Welcome to MyGym, your ultimate fitness destination! At MyGym, we
          believe that fitness is not just a hobby, but a way of life. We are
          dedicated to helping individuals of all fitness levels achieve their
          health and wellness goals in a supportive and motivating environment.
        </p>
        <br />
        <p>
          Founded in 2016, MyGym has quickly become a leading fitness facility
          in Valdivia, Chile. Our state-of-the-art gym boasts an impressive
          range of equipment and amenities, designed to cater to the diverse
          needs of our members. Whether you are a beginner taking your first
          steps towards a healthier lifestyle or an experienced fitness
          enthusiast looking to take your workouts to the next level, we have
          everything you need to succeed.
        </p>
        <br />
        <div>
          <img
            class="m-auto"
            src="/owners.jpg"
            alt="Robert and Claire looking each other, MyGym owners"
          />
          <p class="text-center italic">
            Robert and Claire, marriaged and MyGym co-founders
          </p>
        </div>
        <br />
        <p>
          What sets MyGym apart is our team of highly skilled and passionate
          fitness professionals. Our certified trainers are committed to
          providing personalized attention and guidance, creating customized
          workout programs tailored to your specific goals and abilities. They
          are always ready to offer expert advice, motivate you during
          challenging workouts, and ensure you stay on track to achieve your
          desired results.
        </p>
        <br />
        <h1
          class="text-center font-semibold text-2xl mt-8 mb-4 md:text-4xl md:my-8 md:mt-16"
        >
          EXPERT GUIDANCE FROM CERTIFIED TRAINERS
        </h1>
        <p>
          What sets MyGym apart is our team of highly skilled and passionate
          fitness professionals. Our certified trainers are committed to
          providing personalized attention and guidance, creating customized
          workout programs tailored to your specific goals and abilities. They
          are always ready to offer expert advice, motivate you during
          challenging workouts, and ensure you stay on track to achieve your
          desired results.
        </p>
        <br />
        <p>This is some of our profesionals:</p>
        <br />
        <div
          class="flex flex-col gap-8 [&>div]:text-center [&>div>img]:rounded-full [&>div>img]:w-52 [&>div>img]:aspect-square [&>div>img]:object-cover [&>div>img]:m-auto md:flex-row md:justify-center"
        >
          <div>
            <img src="/woman-trainer-1.jpg" alt="" />
            <p class="font-semibold text-xl">Mariem Neuer</p>
            <p>Personal trainer</p>
          </div>
          <div>
            <img src="/man-trainer-3.jpg" alt="" />
            <p class="font-semibold text-xl">Chris Dawson</p>
            <p>Personal trainer</p>
          </div>
          <div>
            <img src="/man-trainer-1.jpg" alt="" />
            <p class="font-semibold text-xl">Nick Fury</p>
            <p>Zumba & Crossfit teacher</p>
          </div>
        </div>
        <h1
          class="text-center font-semibold text-2xl mt-8 mb-4 md:text-4xl md:mb-8 md:mt-16"
        >
          A SUPPORTIVE AND INCLUSIVE COMMUNITY
        </h1>
        <p>
          We understand that fitness is not just about physical exercise but
          also about creating a positive and inclusive community. At MyGym, you
          will find a welcoming atmosphere where individuals from all walks of
          life come together to pursue their fitness journeys. Our members form
          a supportive network, inspiring and motivating one another to push
          beyond their limits and celebrate their accomplishments.
        </p>
        <br />
        <div>
          <img
            class="m-auto"
            src="/kid-gym.jpg"
            alt="Robert and Claire looking each other, MyGym owners"
          />
        </div>
        <br />
        <p>
          In addition to our wide range of cutting-edge equipment, we offer a
          variety of group fitness classes that cater to different interests and
          preferences. From high-energy cardio sessions to strength training,
          yoga, and much more, our classes are led by experienced instructors
          who will challenge and inspire you to reach new heights.
        </p>
      </div>
    </section>
  </main>
</Layout>
