---
import Arrow from "../components/icons/arrow.astro";
import InscriptionLayout from "../layouts/InscriptionLayout.astro";
import gymClasses from "../mock/gym-classes.json";

const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

const date = new Date();
let month = months[date.getMonth() + 1];
---

<InscriptionLayout>
  <main>
    <section class="px-12 pt-32 pb-12 lg:max-w-7xl lg:gap-6 lg:m-auto lg:flex">
      <div class="flex flex-col gap-8 m-auto lg:w-2/3">
        <div>
          <h3 class="mb-4 text-2xl font-semibold text-gray-900 lg:text-xl">
            Complete your information
          </h3>
          <div class="grid w-full place-items-center">
            <form class="w-full">
              <div class="md:flex md:gap-4">
                <div class="w-full">
                  <label
                    for="first-name"
                    class="block mb-2 text-base text-gray-900">First name</label
                  >
                  <input
                    type="text"
                    id="first-name"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-yellow-300 focus:border-yellow-300 block w-full p-2.5"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="w-full">
                  <label
                    for="last-name"
                    class="block mb-2 text-base text-gray-900">Last name</label
                  >
                  <input
                    type="text"
                    id="last-name"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-yellow-300 focus:border-yellow-300 block w-full p-2.5"
                    placeholder="Last name"
                    required
                  />
                </div>
              </div>
              <label
                for="email-address"
                class="block mb-2 text-base text-gray-900">Email</label
              >
              <input
                type="text"
                id="email-address"
                class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-yellow-300 focus:border-yellow-300 block w-full p-2.5"
                placeholder="name@example.com"
                required
              />
              <label for="address" class="block mb-2 text-base text-gray-900"
                >Address</label
              >
              <input
                type="text"
                id="address"
                class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-yellow-300 focus:border-yellow-300 block w-full p-2.5"
                placeholder="Example street 123"
                required
              />
            </form>
          </div>
        </div>
        <div>
          <h3 class="mb-4 text-2xl font-semibold text-gray-900 lg:text-xl">
            Choose your plan
          </h3>
          <ul
            class="items-center w-full mb-4 text-base text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex"
          >
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r"
            >
              <div class="flex items-center pl-3">
                <input
                  id="personal-plan-selector"
                  type="radio"
                  value=""
                  name="list-radio1"
                  class="w-4 h-4 text-yellow-400 bg-gray-100 border-gray-300 prices focus:ring-blue-500 focus:ring-2"
                />
                <label
                  for="personal-plan-selector"
                  class="w-full py-4 ml-2 text-gray-900 lg:py-3"
                  ><span>Personal</span>
                </label>
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r"
            >
              <div class="flex items-center pl-3">
                <input
                  id="enterprise-plan-selector"
                  type="radio"
                  value=""
                  name="list-radio1"
                  class="w-4 h-4 text-yellow-400 bg-gray-100 border-gray-300 prices focus:ring-blue-500 focus:ring-2"
                />
                <label
                  for="enterprise-plan-selector"
                  class="w-full py-4 ml-2 text-gray-900 lg:py-3"
                  ><span>Enterprise</span></label
                >
              </div>
            </li>
          </ul>

          <div id="enterprise-name" class="hidden w-full">
            <label for="company-name" class="block mb-2 text-base text-gray-900"
              >Your Enterprise*</label
            >
            <input
              type="text"
              id="company-name"
              class="bg-gray-50 mb-4 border border-gray-300 text-base text-gray-900 rounded-lg focus:ring-yellow-300 focus:border-yellow-300 block w-full p-2.5"
              placeholder="Enterprise name"
              required
            />
          </div>
          <h3 class="mb-4 text-2xl font-semibold text-gray-900 lg:text-xl">
            Choose your level
          </h3>
          <ul
            class="items-center w-full text-base text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex"
          >
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r"
            >
              <div class="flex items-center pl-3">
                <input
                  id="starter-plan-selector"
                  type="radio"
                  value=""
                  name="list-radio2"
                  class="w-4 h-4 text-yellow-400 bg-gray-100 border-gray-300 prices focus:ring-blue-500 focus:ring-2"
                />
                <label
                  for="starter-plan-selector"
                  class="flex justify-between w-full py-4 mx-3 text-gray-900 lg:py-3"
                  ><span>Starter</span>
                  <span class="text-gray-500"></span>
                </label>
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r"
            >
              <div class="flex items-center pl-3">
                <input
                  id="advanced-plan-selector"
                  type="radio"
                  value=""
                  name="list-radio2"
                  class="w-4 h-4 text-yellow-400 bg-gray-100 border-gray-300 prices focus:ring-blue-500 focus:ring-2"
                />
                <label
                  for="advanced-plan-selector"
                  class="flex justify-between w-full py-4 mx-3 text-gray-900 lg:py-3"
                  ><span>Advanced</span>
                  <span class="text-gray-500"></span></label
                >
              </div>
            </li>
            <li
              class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r"
            >
              <div class="flex items-center pl-3">
                <input
                  id="fitness-plan-selector"
                  type="radio"
                  value=""
                  name="list-radio2"
                  class="w-4 h-4 text-yellow-400 bg-gray-100 border-gray-300 prices focus:ring-blue-500 focus:ring-2"
                />
                <label
                  for="fitness-plan-selector"
                  class="flex justify-between w-full py-4 mx-3 text-gray-900 lg:py-3"
                  ><span>Fitness</span>
                  <span class="text-gray-500"></span></label
                >
              </div>
            </li>
          </ul>
        </div>

        <div>
          <h3 class="mb-4 text-2xl font-semibold text-gray-900 lg:text-xl">
            Aditional Classes
          </h3>
          <ul
            class="w-full text-base text-gray-900 bg-white border border-gray-200 rounded-lg"
          >
            {
              gymClasses.map((gymClass) => (
                <li class="w-full border-b border-gray-200 rounded-t-lg">
                  <div class="flex items-center pl-3">
                    <input
                      id={gymClass["name"] + "-checkbox"}
                      type="checkbox"
                      value=""
                      name="list-radio3"
                      class="w-4 h-4 text-yellow-400 bg-gray-100 border-gray-300 rounded prices focus:ring-blue-500 focus:ring-2"
                    />
                    <label
                      for={gymClass["name"] + "-checkbox"}
                      class="flex justify-between w-full py-4 mx-3 text-gray-900 lg:py-3"
                    >
                      <span>{gymClass["name"]}</span>
                      <span class="text-gray-500">${gymClass["price"]}</span>
                    </label>
                  </div>
                </li>
              ))
            }
          </ul>

          <div class="flex justify-end pt-12 pb-32 text-lg">
            <button
              type="button"
              class="flex items-center justify-between w-full px-5 py-3 font-medium text-white border border-gray-200 rounded-lg bg-sky-700 hover:bg-sky-600 lg:w-auto lg:gap-2 lg:text-base"
            >
              Start from {month} 1st
              <Arrow className="h-6" />
            </button>
          </div>
        </div>
      </div>

      <div class="hidden w-1/3 p-6 bg-gray-50 max-w-7xl lg:block">
        <div class="sticky top-32">
          <h2 class="mb-4 text-lg font-semibold">Your selection</h2>
          <div id="items" class="border-b-2 border-gray-200"></div>
          <div class="flex justify-between">
            <h3 class="mb-4 text-lg font-semibold">Payment</h3>
            <span id="payment" class="text-lg font-bold">$0</span>
          </div>
        </div>
      </div>
    </section>

    <section class="fixed bottom-0 w-screen px-12 py-6 bg-gray-100 lg:hidden">
      <div class="flex justify-between m-auto text-xl max-w-7xl">
        <h3 class="font-semibold">Payment</h3>
        <span id="payment" class="font-bold">$0</span>
      </div>
    </section>
  </main>
</InscriptionLayout>

<script src="../scripts/inscription/inscriptionSelection.js"></script>
