---
const { name, img } = Astro.props;
---

<a class="transition-all hover:scale-105" href="/inscription">
  <div class="w-full aspect-square bg-[#D1A133] rounded-md overflow-hidden">
    <div class="h-5/6">
      <img
        src={img}
        alt={"Image of people doing " + name}
        class="object-cover h-full"
      />
    </div>
    <div class="absolute">
      <p
        class="absolute px-4 py-2 text-sm bg-gradient-to-r from-black to-transparent bottom-4 sm:px-12"
      >
        JOIN
      </p>
    </div>
    <div class="flex items-center justify-center text-sm h-1/6 sm:text-lg">
      <p>{name}</p>
    </div>
  </div>
</a>
