---
import MenuIcon from "./icons/menu-icon.astro";
---

<nav
  class="fixed w-full px-12 py-3 text-gray-400 z-50 bg-[#04040C] border-b-2 border-gray-800"
>
  <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center text-white text-3xl tracking-tight">
      <img src="/images/favicon.svg" class="h-16 md:h-20" alt="MyGYM Logo" />
      <span class="hidden lg:block">MYGYM</span>
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-400 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-400"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <MenuIcon className="w-8 h-8" />
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-10 md:mt-0"
      >
        <li>
          <a
            href="/#hero"
            class="block py-2 pl-3 pr-4 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-[#D6A22C] md:p-0"
            aria-current="page">Home</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="block py-2 pl-3 pr-4 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-[#D6A22C] md:p-0"
            aria-current="page">About us</a
          >
        </li>
        <li>
          <a
            href="/#reviews"
            class="block py-2 pl-3 pr-4 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-[#D6A22C] md:p-0"
            >Reviews</a
          >
        </li>
        <li>
          <a
            href="/#classes"
            class="block py-2 pl-3 pr-4 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-[#D6A22C] md:p-0"
            >Classes</a
          >
        </li>
        <li>
          <a
            href="/#plans"
            class="block py-2 pl-3 pr-4 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-[#D6A22C] md:p-0"
            >Plans</a
          >
        </li>
        <li>
          <a
            href="/#contact"
            class="block py-2 pl-3 pr-4 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-[#D6A22C] md:p-0"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
